#app {
  .sidebar-container {
    width: $sideBarWidth !important; //覆盖element默认宽度300px
    height: 100%;
    transition: width 0.08s;
    background-color: $menuBg;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    overflow: hidden;

    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out,
        0s padding-right ease-in-out;
    }

    .el-scrollbar {
      height: calc(100% - 3rem);
    }
    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }
    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }
    .el-scrollbar__bar.is-horizontal {
      display: none;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }

    .svg-icon {
      margin-right: 1rem;
    }

    //root menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      &:hover {
        background-color: $menuHover !important;
      }
    }

    //active root menu color
    .is-active > .el-submenu__title {
      color: $subMenuActiveText !important;
    }

    //submenu bg hover
    & .nest-menu .el-submenu > .el-submenu__title,
    & .nest-menu .el-menu-item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      min-width: $sideBarWidth !important;
      background-color: $subMenuBg !important;

      &:hover {
        background-color: $subMenuHover !important;
      }
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 3.5rem !important;
    }

    .main-container {
      margin-left: 3.5rem;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      .svg-icon {
        margin-left: 1.2rem;
      }
      // TODO wait element fix collapse=true bug
      span {
        display: none;
      }
      .el-tooltip {
        padding: 0 !important;
        .svg-icon {
          margin-left: 1.2rem;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        & > .el-submenu__title {
          padding: 0 !important;
          .svg-icon {
            margin-left: 1.2rem;
          }
          .el-submenu__icon-arrow {
            display: none;
          }
          & > span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }

  // when menu collapsed
  .el-menu--vertical {
    & > .el-menu {
      .svg-icon {
        margin-right: 1rem;
      }
    }

    .nest-menu .el-submenu > .el-submenu__title,
    .el-menu-item {
      &:hover {
        // you can use $subMenuHover
        background-color: $menuHover !important;
      }
    }
  }
  // the scroll bar appears when the subMenu is too long
  > .el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}
